form {
    background-color: #f4f1f1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  label {
    color: #000;
  }
  
  .grid-container-personal-info {
    max-width: fit-content;
    height: 20px;
    margin: 0 auto;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
  }
  